<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>eBook - O Guia Definitivo de Estilo</title>
  </head>
  <body>
    <main>
      <section class="indexsection">
        <div class="cadastro">
          <h1>
            Os segredos dos estilos mais cobiçados e as tendências mais quentes
            da moda em um único lugar!
          </h1>
          <img src="/img/capa.png" alt="" />
          <div class="cadastro2">
            <h2>
              Tenha acesso agora ao nosso ebook exclusivo e se torne uma
              referência quando o assunto é estilo e bom gosto.
            </h2>
            <p>Informe seu e-mail para acessar o eBook totalmente gratuito</p>
            <div>
              <form action="/create" method="post">
                <div class="inputsForm">
                  <img src="/img/email.png" alt="" />
                  <input
                    autocomplete="off"
                    type="email"
                    class="teste"
                    name="email"
                    id="email"
                    required
                    placeholder="exemplo@email.com"
                  />
                </div>
                <div class="btnContainer">
                  <button id="btnCadastrar" value="0" type="submit">
                    Receber eBook
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
